.boxWhiteMorph {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.boxWhiteMorph:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.description {
  max-height: 3em;
  overflow-y: scroll;
  transition: max-height 0.5s ease;
}

.boxWhiteMorph:hover .description {
  max-height: 250px;
}
